*{
    margin: 0;
    padding: 0;
}

.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.app div{
    position: relative;
}

.board{
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.restart{
    position: absolute;
    z-index: 999;
    right: 0;
    background-color: rgb(238, 176, 189);
    border-radius: 10px;
    width: 100px;
    height: 20px;
}

.cell{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img{ 
    width: 48px;
    height: 48px;
    position: relative;
}

.black{
    background-color: #444444;
}

.white{
    background-color: wheat;
}
.selected{
    /* margin-top: -10px; */
    background-color: brown;
    /* transform: scale(1.1) */
}

.available{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: greenyellow;
}

.eatable{
    background-color: greenyellow;
}